In [1]:
from scripts.data_processing import load_data, handle_missing_values, handle_outliers, remove_missing_values
from scripts.user_analysis import get_top_handsets, get_top_manufacturers, get_top_handsets_per_manufacturer

In [2]:
# Load the dataset
data = load_data('../src/data/telecom_dataset.csv')

In [3]:
# info about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [4]:
# remove rows containing null values in your data based on given column
data = remove_missing_values(data, columns=['Handset Manufacturer', 'Handset Type'])

In [5]:
# Handle missing values
data = handle_missing_values(data)

In [6]:
# info after the handling missing value
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149429 entries, 0 to 149999
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149429 non-null  float64
 1   Start                                     149429 non-null  object
 2   Start ms                                  149429 non-null  float64
 3   End                                       149429 non-null  object
 4   End ms                                    149429 non-null  float64
 5   Dur. (ms)                                 149429 non-null  float64
 6   IMSI                                      149429 non-null  float64
 7   MSISDN/Number                             149429 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148837 non-null  object
 10  Avg RTT DL (ms)                           149429 non-null  float64
 11  Avg RTT UL (ms)                           149429 non-null  float64
 12  Avg Bearer TP DL (kbps)                   149429 non-null  float64
 13  Avg Bearer TP UL (kbps)                   149429 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               149429 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               149429 non-null  float64
 16  DL TP < 50 Kbps (%)                       149429 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149429 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149429 non-null  float64
 19  DL TP > 1 Mbps (%)                        149429 non-null  float64
 20  UL TP < 10 Kbps (%)                       149429 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149429 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149429 non-null  float64
 23  UL TP > 300 Kbps (%)                      149429 non-null  float64
 24  HTTP DL (Bytes)                           149429 non-null  float64
 25  HTTP UL (Bytes)                           149429 non-null  float64
 26  Activity Duration DL (ms)                 149429 non-null  float64
 27  Activity Duration UL (ms)                 149429 non-null  float64
 28  Dur. (ms).1                               149429 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           149429 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     149429 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  149429 non-null  float64
 34  Nb of sec with 37500B < Vol UL            149429 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    149429 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    149429 non-null  float64
 37  Nb of sec with Vol DL < 6250B             149429 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149429 non-null  float64
 39  Social Media DL (Bytes)                   149429 non-null  float64
 40  Social Media UL (Bytes)                   149429 non-null  float64
 41  Google DL (Bytes)                         149429 non-null  float64
 42  Google UL (Bytes)                         149429 non-null  float64
 43  Email DL (Bytes)                          149429 non-null  float64
 44  Email UL (Bytes)                          149429 non-null  float64
 45  Youtube DL (Bytes)                        149429 non-null  float64
 46  Youtube UL (Bytes)                        149429 non-null  float64
 47  Netflix DL (Bytes)                        149429 non-null  float64
 48  Netflix UL (Bytes)                        149429 non-null  float64
 49  Gaming DL (Bytes)                         149429 non-null  float64
 50  Gaming UL (Bytes)                         149429 non-null  float64
 51  Other DL (Bytes)                          149429 non-null  float64
 52  Other UL (Bytes)                          149429 non-null  float64
 53  Total UL (Bytes)                          149429 non-null  float64
 54  Total DL (Bytes)                          149429 non-null  float64
dtypes: float64(50), object(5)
memory usage: 63.8+ MB

In [7]:
# handling outliers
columns_to_check = ['Dur. (ms)', 'Total DL (Bytes)', 'Total UL (Bytes)']
data = handle_outliers(data, columns_to_check)

In [8]:
# Identify the top 10 handsets
top_handsets = get_top_handsets(data)
print("Top 10 Handsets:\n")
top_handsets

Top 10 Handsets:

Handset Type
Huawei B528S-23A                19752
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: count, dtype: int64

In [9]:
# Identify the top 3 handset manufacturers
top_manufacturers = get_top_manufacturers(data)
print("Top 3 Handset Manufacturers:\n")
top_manufacturers

Top 3 Handset Manufacturers:

Handset Manufacturer
Apple      59565
Samsung    40839
Huawei     34423
Name: count, dtype: int64

In [11]:
# Identify the top 5 handsets per top manufacturer
top_handsets_per_manufacturer = get_top_handsets_per_manufacturer(data, top_manufacturers.index)
print("Top 5 Handsets Per Manufacturer:\n",top_handsets_per_manufacturer)

Top 5 Handsets Per Manufacturer:
    Manufacturer                         Handset  Count
0         Apple         Apple iPhone 6S (A1688)   9419
1         Apple          Apple iPhone 6 (A1586)   9023
2         Apple          Apple iPhone 7 (A1778)   6326
3         Apple         Apple iPhone Se (A1723)   5187
4         Apple          Apple iPhone 8 (A1905)   4993
5       Samsung    Samsung Galaxy S8 (Sm-G950F)   4520
6       Samsung      Samsung Galaxy A5 Sm-A520F   3724
7       Samsung     Samsung Galaxy J5 (Sm-J530)   3696
8       Samsung     Samsung Galaxy J3 (Sm-J330)   3484
9       Samsung    Samsung Galaxy S7 (Sm-G930X)   3199
10       Huawei                Huawei B528S-23A  19752
11       Huawei                    Huawei E5180   2079
12       Huawei  Huawei P20 Lite Huawei Nova 3E   2021
13       Huawei                      Huawei P20   1480
14       Huawei                  Huawei Y6 2018    997